[agriculture]
buildings =
buildings.type = BuildingsParameter
buildings.help = List of buildings considered for the building-integrate agriculture (BIA) simulations (to simulate all buildings leave blank).

annual-radiation-threshold-bia = 0
annual-radiation-threshold-bia.type = RealParameter
annual-radiation-threshold-bia.help = Only consider crops on surfaces that receive radiation above the defined threshold [kWh/m2/yr]. For BIA calculations, we suggest to keep it 0 for now.

type-crop = BayamRed
type-crop.type = ChoiceParameter
type-crop.choices = BayamRed, Lettuce, XiaoBaiCai, Tomato
type-crop.help = Type of crops.

crop-on-roof = True
crop-on-roof.type = BooleanParameter
crop-on-roof.help = True if crops are considered on roof surfaces.

crop-on-wall = True
crop-on-wall.type = BooleanParameter
crop-on-wall.help = True if crops are considered on wall surfaces.

crop-panel-tilt-angle = 0
crop-panel-tilt-angle.type = RealParameter
crop-panel-tilt-angle.help = BIA equipment tilt angle if using user-defined tilt angle.

custom-tilt-angle = True
custom-tilt-angle.type = BooleanParameter
custom-tilt-angle.help = Calculate BIA potential based on a user-specified panel tilt angle. If False, the optimal tilt angle will be used for the calculation. The current version fo CEA does NOT support setting False here yet.

custom-roof-coverage = False
custom-roof-coverage.type = BooleanParameter
custom-roof-coverage.help = Calculate solar panel potential while limiting the maximum coverage for any given roof surface to a user-defined limit.

max-roof-coverage = 1.0
max-roof-coverage.type = RealParameter
max-roof-coverage.help = Maximum crop coverage [m2/m2] of roof surfaces (valid values between 0 and 1).