[agriculture]
buildings =
buildings.type = BuildingsParameter
buildings.help = List of buildings considered for the Building-Integrate Agriculture (BIA) assessment (to simulate all buildings leave blank).

type-crop = AmaranthRed
type-crop.type = ChoiceParameter
type-crop.choices = AmaranthRed, Lettuce, LettuceRomaine, BitterGourd, Tomato, CaiXinHongKong, MustardGreen, FlatMustardGreen
type-crop.help = Type of crops.

crop-on-roof = True
crop-on-roof.type = BooleanParameter
crop-on-roof.help = True if crops are considered on roof surfaces.

crop-on-window = False
crop-on-window.type = BooleanParameter
crop-on-window.help = True if crops are considered on window surfaces.

crop-on-wall-under-window = True
crop-on-wall-under-window.type = BooleanParameter
crop-on-wall-under-window.help = Wall surfaces include two types: under-window and between-window. True if crops are considered on wall surfaces under the window.

crop-on-wall-between-window = True
crop-on-wall-between-window.type = BooleanParameter
crop-on-wall-between-window.help = Wall surfaces include two types: under-window and between-window. True if crops are considered on wall surfaces between windows on the same floor.


[crop-profile]
buildings =
buildings.type = BuildingsParameter
buildings.help = List of buildings considered for the Building-Integrate Agriculture (BIA) crop profiling (to simulate all buildings leave blank).

types-crop = AmaranthRed, Lettuce, LettuceRomaine, BitterGourd, Tomato, CaiXinHongKong, MustardGreen, FlatMustardGreen
types-crop.type = MultiChoiceParameter
types-crop.choices = AmaranthRed, Lettuce, LettuceRomaine, BitterGourd, Tomato, CaiXinHongKong, MustardGreen, FlatMustardGreen
types-crop.help = List of crop types considered for the building-integrate agriculture (BIA) crop profiling. Please keep at least two types.

bia-assessment-metric-objective = CropYield
bia-assessment-metric-objective.type = ChoiceParameter
bia-assessment-metric-objective.choices = CropYield, GHGEmission, EnergyUse, WaterUse, AnnualisedCAPEX, AnnualisedCAPEXPerKgYield, AnnualOPEX, AnnualOPEXPerKgYield, AnnualCost, AnnualCostPerKgYield
bia-assessment-metric-objective.help = Select one BIA assessment metric as the objective for crop profiling. Note: AnnualCost = AnnualisedCAPEX + AnnualOPEX

crop-on-roof = True
crop-on-roof.type = BooleanParameter
crop-on-roof.help = True if crops are considered on roof surfaces.

crop-on-window = False
crop-on-window.type = BooleanParameter
crop-on-window.help = True if crops are considered on window surfaces.

crop-on-wall-under-window = True
crop-on-wall-under-window.type = BooleanParameter
crop-on-wall-under-window.help = Wall surfaces include two types: under-window and between-window. True if crops are considered on wall surfaces under the window.

crop-on-wall-between-window = True
crop-on-wall-between-window.type = BooleanParameter
crop-on-wall-between-window.help = Wall surfaces include two types: under-window and between-window. True if crops are considered on wall surfaces between windows on the same floor.

[crop-plot]
buildings =
buildings.type = BuildingsParameter
buildings.help = List of buildings included for the Building-Integrate Agriculture (BIA) visualisation (to plot all buildings leave blank).

types-crop = AmaranthRed, Lettuce, LettuceRomaine, BitterGourd, Tomato, CaiXinHongKong, MustardGreen, FlatMustardGreen
types-crop.type = MultiChoiceParameter
types-crop.choices = AmaranthRed, Lettuce, LettuceRomaine, BitterGourd, Tomato, CaiXinHongKong, MustardGreen, FlatMustardGreen
types-crop.help = List of crop types included for the Building-Integrate Agriculture (BIA) visualisation (to plot all crop types that have been simulated leave blank).
